

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        McGill University Webpage
    </title>
    <link rel="stylesheet" href="style.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body background>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Admission</a></li>
                <li><a href="#">Student life</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">About McGill</a></li>


            </ul>


        </div>

    </div>

</body>
</html>
